* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.center{
    text-align: center; 
    margin-bottom: 15px;
}

select{
    overflow: auto;
}

div.container{
    margin-top: 15px;
}
h1{ 
    text-shadow: 2px 2px 5px red;
}
.image{
    margin-top: 3px;
    height: 34px;
    width: 34px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: hsl(0, 0%, 71%);
    background-repeat: no-repeat;
}
.radio-inline{
    padding-right: 5px;
}

.radio-imbue{
    cursor: pointer;
}

.container-bonus {
    display:                 flex;
    display:                 -webkit-flex; /* Safari 8 */
    flex-wrap:               wrap;
    -webkit-flex-wrap:       wrap;         /* Safari 8 */
    justify-content:         center;
    -webkit-justify-content: center;       /* Safari 8 */
    height: 150px;
    overflow: auto;
}
  
.block {
    width: 120px;
    height: 130px;
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-top: 8px;
    cursor: pointer;  
    background-repeat: no-repeat;
    box-shadow: 0 9px 5px #999;   
    overflow: auto;   
}


.block:hover {
    border: 1px solid #777;
    opacity: 0.75;
}

.block.selected {
    border: 1px solid black;
    opacity: 0.75;
    box-shadow: 0 5px 5px #999;
    transform: translateY(4px);
}
.block p {
    text-align: center;
    padding: 2px;
}
.fig32{
    margin: auto;
    margin-top: 3px;
    height: 34px;
    width: 34px;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
    border-radius: 5px;
}
.block div{
    margin: auto;
    margin-top: 3px;
    height: 48px;
    width: 48px;
    border: 1px solid black;
    border-radius: 5px;
}

#divBonusDetails {
    height: 140px;
    max-height: 180px;
    overflow: auto;
    margin: 10px;
}

.divMoneyOval {
    border: 2px solid black;
    box-shadow: 0 0 10px red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
    text-align: center;
}


.protectionCharm {
    background-color: white;
    border: 1px solid red;
    font-size: 1vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 5px;
}

.protectionCharm:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}


.divMoneyRect {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px red;
    text-align: center;
    margin: auto;
    width: 100%;
}

table {
    width: 100%;
    max-width: 100%;
    
}
td {
    vertical-align: center;
    text-align: center;
    width: calc(100%/6);
}
